{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.author) }}

        <button type="submit">Add new Mass</button>
        {{ form_end(form) }}
    </div>

{% endblock %}

{% block title %}
Create new mass
{% endblock %}

